// FONTS
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
// BORDER-BOX

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// THEME

html, body, #app {
  height: 100%;
}

body {
  background-color: #607D8B;
  font-family: 'Roboto', sans-serif;
}
//Disable outline
a, a:hover, a:active, a:focus, button:focus {
  outline:0;
  color: inherit;
  text-decoration: none;
}
